* {
	box-sizing: border-box;
}

html, body {
	height: 100%;

}

body {
    background: #f1c40f;
    font-family: 'Raleway', sans-serif;
}

body, p, blockquote {
	margin: 0;
}

a {
    text-decoration: none;
}

/* CONTAINER */

.container {
    height: 100%;
}

/* QUOTE CONTAINER */

.quote-container {
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

/* BLOCKQUOTE */

blockquote {
	font-size: 5vh;
    line-height: 1.25;
    color: #fff;
    letter-spacing: 2px;
}

@media all and (orientation: portrait) {
    blockquote {
        font-size: 4vh;
    }
}


/* QUOTES */

#quote:before {
	content: "\201C";
}

#quote:after {
	content: "\201D";
}

/* AUTHOR */

#author {
    font-weight: 700;
}

#author:before {
	content: "\2014";
}


/* NEW QUOTE BUTTON */

#new-quote {
	position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: 1px solid #fff;
    background: none;
    padding: 3vh 5vh;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3vh;
    text-align: center;
}

#new-quote a {
    color: #fff;
    user-select: none;
}

/* SHARE ON TWITTER ICON */

.ion-social-twitter {
    color: #fff;
    font-size: 6vh;
    position: absolute;
    right: 80px;
    top: 40px;
}